<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - IDAT</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.1/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css" integrity="sha512-xnP2tOaCJnzp2d2IqKFcxuOiVCbuessxM6wuiolT9eeEJCyy0Vhcwa4zQvdrZNVqlqaxXhHqsSV1Ww7T2jSCUQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">

    <style>
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .center-preview {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="app">
        {% include 'partials/_menu.html' %}

        <div id="main" class='layout-navbar'>
            {% include 'partials/_header.html' %}
            <div id="main-content">

                <div class="page-heading">
                    {% block content %}{% endblock %}
                </div>

                {% include 'partials/_footer.html' %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/perfect-scrollbar@1.5.1/dist/perfect-scrollbar.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>